button {
  padding: 1rem 2rem;
  border: 1px solid #0c8573;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Open Sans',Arial,sans-serif;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  border-radius: 2.5rem;
  background-color: #007d9b;
  position: absolute;
    top: 0;
    right: 0;
}

button:hover {    
  background: #fff;
  transition: all .3s ease;
  color: #0c8573;
}